@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600&display=swap');

:root{
    --green:#7cb86c;
}

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;

    ::selection {
        background: var(--green);
        color: #333;
    }
}

html {
    font-size: 62%;
    overflow-x: hidden; 
}

html::-webkit-scrollbar {
    width: 1.4rem;
}

html::-webkit-scrollbar-track {
    background: #222;
}

html::-webkit-scrollbar-thumb {
    background: var(--green);
}

body {
    background: #111;
    overflow-x: hidden;
    padding-left: 35rem;
}

section {
    min-height: 100vh;
    padding: 1rem;
}

.btn {
    padding: .7rem 3rem;
    background: #333;
    color: #fff;
    cursor: pointer;
    margin-top: 2rem;
    font-size: 2rem;
    border-radius: 5rem;

    i {
        padding: 0 .5rem;
        font-size: 1.8rem;
    }
}

.btn:hover {
    background: var(--green);
}
