.basket {
    background-color: #161516;
    color: #fff;
    font-size: 17px;

    &__container {
        padding: 56px 290px 100px 290px;
        min-height: calc(100vh - 443px);
        @include laptop {
            padding: 56px 10% 100px 10%;
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 38px;
        padding: 52px 70px;
    }

    &__left {
        display: flex;
        align-items: center;
    }

    &__return {
        transition: all .3s;
    }

    &__return:hover {
        cursor: pointer;
        scale: 1.2;
        transition: all .3s;
    }

    &__title {
        font-size: 31px;
        font-weight: 700;
        line-height: 38px;
        margin-left: 65px;
        text-transform: uppercase;
        @include laptop{
            margin-left: 10%;
            font-size: 18px;
        }
    }

    &__btn-logout{
        all: unset;
        color: #D58C51;
        padding: 12px 75px;
        border: 1px solid #D58C51;
        cursor: pointer;
        transition: all .3s;

        @include laptop {
            padding: 12px 20px;
        }
        @include phone {
            display: none;
        }
    }

    &__btn-logout:hover{
        background-color: #D58C51;
        color: #161516;
        border: 1px solid #161516 ;
        transition: all .3s;
    }

}

.basket-card {
    
    &__item {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: 31px;
        
    }

    &__title{
        font-weight: 500;
        max-width: 38%;
        margin-left: 90px;
        @include laptop{
            margin-left: 10%;
            font-size: 12px;
        }
    }

    &__img {
        width: 122px;
    }

    &__counter{
        display: flex;
        justify-content: space-evenly;
        margin: 5%;
        align-items: center;
        width: 100px;

        &__plus{
            cursor: pointer;
        }
        &__minus{
            cursor: pointer;
        }
    }

    &__right{
        position: absolute;
        right: 0;
        display: flex;
        align-items: center;
        font-size: 18px;
        font-weight: 400;
        color: #D58C51;
        gap: 15px;
        @include laptop {
            font-size: 11px;
            flex-direction: column;
        }
    }

    &__delete {
        cursor: pointer;
        transition: all .3s;
    }

    &__delete:hover {
        scale: 1.2;
        transition: all .2s;
    }
}

.basket-footer{

    &__line {
        border: 1px solid #D58C51;
        width: 99,9%;
    }

    &__container {
        padding: 30px 290px;
        display: flex;
        justify-content: space-between;
        @include laptop {
            padding: 30px 10%;
        }
    }

    &__price {
        font-size: 21px;
        text-transform: uppercase;

        @include laptop {
            font-size: 12px;
        }

        span {
            font-size: 18px;
            color: #D58C51;
            margin-left: 15px;
        }
    }

    &__btn {
        background-color: #D58C51;
        border: none;
        padding: 12px 40px;
        font-size: 14px;
        transition: all .3s;
    }

    &__btn:hover {
        cursor: pointer;
        opacity: 0.7;
        transition: all 0.3s;
    }
}



